<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PostHogHost</key>
	<string>$(POSTHOG_HOST)</string>
	<key>PostHogProjectAPIKey</key>
	<string>$(POSTHOG_PROJECT_API_KEY)</string>
</dict>
</plist>
